<div *ngIf="!edit" class="row">
  <div class="col-md-4">
    <h1>Employee Details </h1>
    <h2>{{currentEmployee.Name}}</h2>
    <div class="row"><label class="col-sm-4">Id: </label><span class="col-sm-8">{{currentEmployee.Id}}</span></div>
    <div class="row"><label class="col-sm-4">Recruitment Date:</label><span class="col-sm-8">{{currentEmployee.StartDate | date}}</span></div>
    <div class="row"><label class="col-sm-4">Current status:</label><span class="col-sm-8">{{currentEmployee.Status}}</span></div>
    <input type="button" class="btn btn-success m-1" (click)="editModeClicked($event, item)" value="New Emmployee" > 
    <input type="button" class="btn btn-info" (click)="loadHolidaysClicked($event, item)" value="Load holidays historic" > 
  </div>
  <div class="col-md-8">
    <app-holidays [holidayList]="holidayList"></app-holidays>
  </div>
</div>

<div *ngIf="edit" class="row" >
  <div class="col-md-4">
    <div class="form-group">
      <label for="inputId">Employee Id</label>
        <input id="inputId"  [(ngModel)]="newEmployee.Id" placeholder="id" class="form-control"> 
    </div>
    <div class="form-group">
      <label for="inputName">Name</label>
        <input id="inputName" [(ngModel)]="newEmployee.Name" placeholder="name" class="form-control"> 
    </div>
    <div class="form-group">
      <label for="inputStartDate">Recruitment Date</label>
        <input id="inputStartDate" [(ngModel)]="newEmployee.StartDate" type="date" placeholder="Recruitment Date" class="form-control">   
    </div>
    <input type="button" class="btn btn-primary" (click)="saveClicked($event,item)" value="Save" >
  </div>
</div>


<div><label>{{message}}</label></div>



